header {
  text-align: centre;
  background: url('https://image.ibb.co/jMhQLn/Mackintosh.jpg');
  background-size: cover;
  color: white;
  max-width: inherit;
  padding: 10px;
}
h1 {
  color: purple;
  font-size: 50px;
}
li {
  padding: 5px;
  display: inline;
}
